@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body {
  font-family: 'Titillium Web', Arial sans-serif;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

h1 {
  font-size: 4em;
}

h4 {
  font-size: 1.3em;
}

#fp-nav {
  top: 50% !important;
}

#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#menu li a {
  text-decoration: none;
  color: #000;
}

#menu li.active a:hover {
  color: #000;
}

#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}

#menu li.active a {
  color: #fff;
}

#menu {
  position: fixed;
  height: 40px;
  z-index: 70;
  padding: 0;
  margin: auto;
}

.section {
  text-align: center;
}

.section pre {
  margin-top: 5px;
  text-align: start;
}

.section pre code {
  background: rgba(255, 255, 255, 0.1) !important;
  font-weight: normal;
  font-size: 1.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
}

.code-block {
  margin: auto;
  display: inline-block;
}

//
// Welcome section
//

$welcomeSectionDegree: 90deg;
$welcomeSectionFirstColor: rgba(0, 255, 68, 0.2);
$welcomeSectionSecondColor: rgba(255, 0, 0, 0.4);

.welcome-section {
  background: linear-gradient($welcomeSectionDegree, $welcomeSectionFirstColor, $welcomeSectionSecondColor);
}

.welcome-section .logo-image {
  margin: 25px;
}

//
// Install section
//

$installSectionDegree: 90deg;
$installSectionFirstColor: rgba(32, 255, 0, 0.2);
$installSectionSecondColor: $welcomeSectionSecondColor;

.install-section {
  background: linear-gradient($installSectionDegree, $installSectionFirstColor, $installSectionSecondColor); /* Standard syntax */
}

//
// Usage section
//

$usageSectionDegree: 90deg;
$usageSectionFirstColor: rgba(145, 255, 1, 0.2);
$usageSectionSecondColor: $installSectionSecondColor;

.usage-section {
  background: linear-gradient($usageSectionDegree, $usageSectionFirstColor, $usageSectionSecondColor); /* Standard syntax */
}

//
// Slides section
//

$slidesSectionDegree: 90deg;
$slidesSectionFirstColor: rgba(255, 155, 0, 0.2);
$slidesSectionSecondColor: $usageSectionSecondColor;

.slides-section {
  background: linear-gradient($slidesSectionDegree, $slidesSectionFirstColor, $slidesSectionSecondColor); /* Standard syntax */
}

//
// Start Use It Now section
//

$startUseItNowSectiondegree: 45deg;
$startUseItNowSectionFirstColor: rgba(255, 255, 255, 0.2);
$startUseItNowSectionSecondColor: $slidesSectionSecondColor;

.start-use-it-now-section {
  background: linear-gradient($startUseItNowSectiondegree, $startUseItNowSectionFirstColor, $startUseItNowSectionSecondColor); /* Standard syntax */
}
